<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class ="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="navbar navbar-nav narbar-right">
            <li> <% link_to "home", "https://hidden-chamber-50393.herokuapp.com/static_pages/home"%> </li>
            <li> <% link_to "help", "https://hidden-chamber-50393.herokuapp.com/static_pages/help"%> </li>
            <li> <% link_to "log_in", "https://hidden-chamber-50393.herokuapp.com/static_pages/log_in"%> </li>
          </ul>
        <nav>
      <div>
    <header>
    <div class= "container">
      <%= yield %>
    <div>
  </body>
</html>
